        <footer>
           <span>© <%= new Date().getFullYear() %></span>
           <a href="https://github.com/FraCav99/mini-message-board" target="blank_">Github Repo</a>
        </footer>
    </body>
</html>